<!doctype html>
<html lang="en">
  <style type="text/css">
    <!--
    .style1 {
      color: #000000;
      font-weight: bold;
    }
    .style4 {
      font-size: large;
      font-weight: bold;
    }
    .style5 {color: #FF9999}
    .style6 {color: #FFFFFF}
    -->
    .table {
    counter-reset: serial-number;
  }
  .table td:first-child:before {
    counter-increment: serial-number;
    content: counter(serial-number);
  }
    </style>
  <head>
    <title>Selamat Datang</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <!-- fontawesome css -->
    <script src="https://kit.fontawesome.com/334385e3e9.js" crossorigin="anonymous"></script>
    
  </head>
  <body>
    